.colors {
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, 0.5);
    color: rgba(255 0 0 / 0.5);
    color: rgba(255 0 0 / 1);
    color: hsl(0, 100%, 50%);
    color: hsla(0 100% 50% / 0.5);
    color: oklab(0 0.5 0.5);
}

.transforms {
    transform: rotate(45deg);
    transform: rotate(45deg) scale(2);
    transform: rotate(45deg) scale(2) translate(10px, calc(10px));
}

.space-separated {
    filter: blur(5px) brightness(120%);
}

.calc {
    width: calc(
            min(100% - 2 * max(var(--sidebar-width, 300px), 20vw),
            (100vw - 4rem) / 2) +
            clamp(1rem,
            (2vh + 1vw) * 0.5,
            3rem) -
            (var(--padding, 8px) * (1 + var(--scale-factor, 0.25)))
    );

    margin: calc(((10px + 2em) * 1.5) / (3vh - 1rem) + max(5%, 10px) - var(--margin, 2rem));

    transform: translate(
            calc(50% + min(var(--offset-x, 10px), 5vw) * (var(--direction, -1))),
            calc(clamp(0px, var(--offset-y, 20px) / 2, 50px) - 10px)
    );

    grid-template-columns: calc(20% + 1fr * (2 / 3)) calc(1fr - 0.5 * var(--gap, 16px)) auto;
}