.urls {
    src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2) format('woff2');
    src: url(data:application/font-woff2;base64,d09GMgABAAAAA);
    src: url(data:image/svg+xml;base64,PD94b++Cg==);
    src: url("/_next/static/media/KaTeX_AMS-Regular.a79f1c31.woff2");
}
