.urls {
    src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2) format('woff2');
    src: url(data:application/font-woff2;base64,d09GMgABAAAAA);
    src: url(data:image/svg+xml;base64,PD94b++Cg==);
    src: url("/_next/static/media/KaTeX_AMS-Regular.a79f1c31.woff2");
}

.one\:two {}

.\!one {}

.\[\] {}

#\[\:\] {}

.foo\2c\.bar {}

.a\2c.b {}

.c\2c .d {}

.e\2c  .f {}

.shadow-\[0_4px_24px_0_hsl\(var\(--always-black\)\/1\.57\%\)\2c 0_4px_32px_0_hsl\(var\(--always-black\)\/1\.57\%\)\2c 0_2px_64px_0_hsl\(var\(--always-black\)\/1\.18\%\)\2c 0_16px_32px_0_hsl\(var\(--always-black\)\/1\.18\%\)\] {}
